{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): <version> [skip ci]\n\n<release notes>"
      }
    ],
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true,
        "markdownReleaseNotes": true,
        "onSuccessTemplate": {
          "text": "📦 $package_name@$npm_package_version이 릴리즈 되었습니다!",
          "blocks": [
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*New `$package_name` package released!*"
              }
            },
            {
              "type": "context",
              "elements": [
                {
                  "type": "mrkdwn",
                  "text": "📦  *Version:* <$repo_url/releases/tag/v$npm_package_version|$npm_package_version>"
                }
              ]
            },
            {
              "type": "divider"
            }
          ],
          "attachments": [
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Changes* of version $release_notes"
                  }
                }
              ]
            }
          ]
        }
      }
    ]
  ],
  "branches": [
    {
      "name": "main"
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ]
}
